
@mixin galeria-decadas{
    position: absolute;
    background-color: rgba(175, 175, 170, 0.527);
    margin-top: 3rem;
    width: 40rem;
    padding: 3rem;
    box-shadow: 0 0 34px rgb(252, 250, 250);
}